<html lang="en">
  <head>
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0; URL=/login" />
    <script type="text/javascript">
      const authToken = localStorage.getItem("authToken");
      if (authToken) {
        window.location.href = "/dashboard";
      } else {
        window.location.href = "/login";
      }
    </script>
  </head>
  <body>
    <p>Redirecting...</p>
  </body>
</html>
